<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity Name="SpotifyDownloader" Publisher="CN=SpotifyDownloader" Version="1.0.0.0" ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Spotify Downloader</DisplayName>
    <PublisherDisplayName>Spotify Downloader</PublisherDisplayName>
    <Logo>Assets\icon.png</Logo>
    <Description>Baixe músicas, álbuns e playlists do Spotify sem autenticação.</Description>
  </Properties>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
  </Capabilities>

  <Applications>
    <Application Id="App" Executable="SpotifyDownloader.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Spotify Downloader"
        Description="Baixe músicas do Spotify sem autenticação"
        Square150x150Logo="Assets\icon_256x256.png"
        Square44x44Logo="Assets\icon_48x48.png"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\icon_256x256.png" Square71x71Logo="Assets\icon_96x96.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>
